*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.test{
    background-color: goldenrod;
    padding: 20px;
    margin: 20px;
    border-top: 4px solid black;
    border-right: 8px solid black;
    border-bottom: 2px dotted black;
    border-left: 4px solid red;
    margin-left: 50px;
    margin-top: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cerchio{
    display: inline;
    border-radius: 50%;
    background-color: blue;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    padding: 30px;
    margin: 50px;
    color: yellow;
}